# Secrets
.env

# Old python minitwit
__pycache__/
.pytest_cache
*.pyc
*.pyo

# Maven build output
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDE files
.idea/
*.iml
.classpath
.project
.settings/

# Database and Logs
*.db
*.log
postgres_data/

# Temp files
*.lst

# NPM
node_modules/

# Vagrant
.vagrant/
*.box
vagrant.log

# devcontainer for ymar
.devcontainer/

# Mac-OS stuff 
.DS_Store

# Terraform
*.tfvars
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl
*.tfstate.*.backup

# Ansible
infra/ansible/.vault_pass

# Report build artifacts
report/report.pdf
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.lof
report/*.lot
report/*.fls
report/*.fdb_latexmk
report/*.synctex.gz
report/*.bbl
report/*.blg
report/*.run.xml

# VS Code LaTeX Workshop
report/*.synctex(busy)
report/.texpadtmp/