[defaults]
inventory = inventory.digitalocean.yml
vault_password_file = .vault_pass
host_key_checking = False
# turn off annoying warnings
deprecation_warnings = False
interpreter_python = auto_silent

[inventory]
enable_plugins = community.digitalocean.digitalocean, auto, yaml, ini