services:
  app:
    build: 
      context: .
    ports:
      - "7070:7070"
    volumes:
      - .:/workspace:cached   # This is correct IF your compose is in minitwit-refactor-java
      - db-data:/data
    environment:
      - DB_FILE=/data/minitwit-java.db