services:
  app:
    build:
      context: .
      target: build
    ports:
      - "7070:7070"
    volumes:
      - .:/workspace:cached
      - db-data:/data
    environment:
      - DB_FILE=/data/minitwit-java.db

volumes:
  db-data: