services:
  app:
    build: 
      context: .
      target: build  # This ensures you have Maven inside the container
    ports:
      - "7070:7070"
    volumes:
      - .:/workspace:cached
      - db-data:/data
    environment:
      - DB_FILE=/data/minitwit-java.db