services:
  app:
    image: maven:4.0.0-eclipse-temurin-21
    working_dir: /app
    volumes:
      - .:/app
      - m2:/root/.m2
      - db:/data
    ports:
      - "7070:7070"
    environment:
      - DB_FILE=data/minitwit-java,db
    command: [ "./control-java.sh", "start" ]

volumes:
  m2: 
