services:
  app:
    image: maven:3.8-eclipse-temurin-21
    working_dir: /app
    volumes:
      - .:/app
      - m2:/root/.m2
    ports:
      - "7070:7070"
    command: [ "./control-java.sh", "start" ]

volumes:
  m2: 
