<!doctype html>
<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<link rel="stylesheet" type="text/css" href="/style.css">

<div class="page">
  <h1>MiniTwit</h1>
  <div class="navigation">
  {% if g.user is not empty %}
    <a href="/timeline">my timeline</a> |
    <a href="/public">public timeline</a> |
    <a href="/logout">sign out [{{ g.user.username }}]</a>
  {% else %}
    <a href="/public">public timeline</a> |
    <a href="/register">sign up</a> |
    <a href="/login">sign in</a>
  {% endif %}
  </div>

  {% if flashes is not empty %}
    <ul class="flashes">
    {% for message in flashes %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  <div class="body">
  {% block body %}{% endblock %}
  </div>

  <div class="footer">
    MiniTwit &mdash; A Javalin Application
  </div>
</div>